%h1.fs-2 ユーザー一覧

%table.table.table-striped.table-hover
  %thead
    %tr
      %th ユーザー名
      %th メールアドレス
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.name, admins_user_path(user)
        %td= user.email
