- if user_signed_in? && current_user.reservations.exists?(lesson_date_id: lesson_date.id)
  予約済み
- elsif lesson_date.capacity <= lesson_date.reservations_count
  満員
- else
  = link_to '予約', new_reservation_path(lesson_id: lesson, lesson_date_id: lesson_date), class: 'btn btn-primary btn-sm'
