- if user_signed_in? && current_user.reservations.exists?(lesson_date_id: lesson_date.id)
  予約済み
- elsif lesson_date.capacity <= lesson_date.reservations_count
  満員
- else
  = button_to '予約', reservations_path(lesson_id: lesson, lesson_date_id: lesson_date), method: :post, class: 'btn btn-primary btn-sm'
